<!doctype html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DiplomasForContributors</title>
  </head>
  <body>    
    <div class="block">
      <div class="center"> 
        <div>
          <h1 class="wrong_link">Не верная ссылка!!!</h1>          
        </div>
        <div class="button-container">
          <%= link_to "Back", root_path, :class => "return_button" %>              
        </div>
      </div>
    </div>    
  </body>
</html>